SUBSCRIPTIONID = Your Azure subscription ID
CLIENTID = 'XXXXX'
CLIENTSECRET = "XXXXX"
TENANT = "XXXXX"
AZURE_STORAGE_ACCOUNT = Azure Storage Account Name
AZURE_STORAGE_ACCESS_KEY = Azure Storage Account Access Key
ACI_DELETE_URL = URL for ACI Delete Function