SUBSCRIPTIONID = Your Azure subscription ID
CLIENTID = Your Service Principal Client ID
CLIENTSECRET = Your Service Principal Client Secret
TENANT = Your Azure subscription tenant, like "microsoft.com"
AZURE_STORAGE_ACCOUNT = Azure Storage Account Name
AZURE_STORAGE_ACCESS_KEY = Azure Storage Account Access Key
ACI_DELETE_URL = URL for ACI Delete Function